:root {
  --white: #F5E9D3;
  --yellow: #D9B15A;
  --green: #307360;
  --red: #591117;
  --black: #231F1A;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

}
